/*
body {
    background-color: #111;
    font-family: "Helvetica", "Arial"
  }
  
  
  @keyframes thinking {
    50% {
      border-color: cyan;
    }
  }
  
  .login-container {
    position: absolute;
    width: 350px;
    height: 200px;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 7px 0 #111;
    font-weight: 700;
    background-color: #444454;
    
    .login-text {
      position: absolute;
      left: 60px;
      top: 10px;
      opacity: 0.5;
    }
    
    .fields-container {
      position: relative;
      width: 80%;
      height: 80px;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40px);
      background-color: #222;
      border-radius: 8px;
      transition: height 0.3s;
      
      &.sign-up {
        height: 120px;
      }
      
      .repeat-password {
        height: 40px;
        overflow: hidden;
        transition: height 0.3s;
        
        &.hidden {
          height: 0px;
        }
      }
      
      input {
        width: 90%;
        height: 20px;
        padding: 10px;
        text-indent: 10px;
        border: none;
        background: transparent;
        color: #555;
        font-weight: 700;
        outline: none;
      }
      
      .divider {
        position: absolute;
        width: calc(100% - 20px);
        left: 20px;
        height: 2px;
        background-color: #444454;
      }
      
      .login-button {
        position: absolute;
        left: 100%;
        top: 50%;
        width: 40px;
        height: 40px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #222;
        border: 5px solid #444454;
        transition: border-color 0.3s;
        cursor: pointer;
        
        &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-20%, -50%);
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-left: 10px solid #444454;
          display: block;
          content: "";
        }
        
        &.thinking {
          animation-iteration-count: infinite;
          animation-name: thinking;
          animation-duration: 1s;
        }
        
        &.success {
          border-color: green;
        }
        
        &.failure {
          border-color: red;
        }
      }
    }
    
    .forgot-link {
      position: relative;
      left: 40px;
      top: 40px;
      color: #222;
      opactiy: 0.7;
      cursor: pointer;
    }
  }
    */

    
  